$screen-sm: 575.98px;
$screen-md: 767.98px;
$screen-lg: 991.98px;
$screen-xl: 1199.98px;
$screen-xxl: 1399.98px;

$color-primary: #e8e8e8;
$color-secondary: #f05454;
$color-black: #000;
$color-white: #fff;

$bg-primary: #30475e;
$bg-secondary: #222831;

$heading--sm: 2rem;
$heading--md: 5rem;
$heading--lg: 8rem;

$gap-sm: 2rem;
$gap-md: 5rem;
$gap-lg: 8rem;
